<h2>Users List</h2>

<input type="text" [(ngModel)]="search" (keyup)="searchUsers()"/>
{{ search }}

<i *ngIf="spinner" class="fa fa-spinner fa-spin"></i>
<ul>
  <li *ngFor="let user of users">
    {{ user.first_name }}
    {{ user.last_name }}
    <button (click)="removeUser(user._id)" class="btn btn-danger">
      <i class="fa fa-remove"></i>
    </button>
  </li>
</ul>
