<div class="row">

  <div class="col-4">
    <div class="form-group mt-5 mb-1">
      <label class="display-4">MySQL</label>
      <input type="search" [(ngModel)]="mysqlKey" (input)="searchMysql()" class="form-control"/>
    </div>

    <div class="alert alert-success">{{ mysqlTime }}ms</div>

    <ul class="list-group mb-1">
      <li class="list-group-item" *ngFor="let user of mysqlUsers">
        {{ user.lastName }} {{ user.firstName }}
      </li>
    </ul>
  </div>

  <div class="col-4">
    <div class="form-group mt-5 mb-1">
      <label class="display-4">MongoDB</label>
      <input type="search" [(ngModel)]="mongoKey" (input)="searchMongo()" class="form-control"/>
    </div>

    <div class="alert alert-success">{{ mongoTime }}ms</div>

    <ul class="list-group mb-1">
      <li class="list-group-item" *ngFor="let user of mongoUsers">
        {{ user.lastName }} {{ user.firstName }}
      </li>
    </ul>
  </div>

  <div class="col-4">
    <div class="form-group mt-5 mb-1">
      <label class="display-4">ElasticSearch</label>
      <input type="search" [(ngModel)]="elasticKey" (input)="searchElastic()" class="form-control"/>
    </div>

    <div class="alert alert-success">{{ elasticTime }}ms</div>

    <ul class="list-group mb-1">
      <li class="list-group-item" *ngFor="let user of elasticUsers">
        {{ user.lastName }} {{ user.firstName }}
      </li>
    </ul>
  </div>

</div>
